@import "tailwindcss";

/* Define your theme here */
@theme {
  --color-kpu-dark: #340705;
  --color-kpu-maroon: #660300;
  --color-kpu-red: #e8300e;
  --color-kpu-orange: #e95007;
  --color-kpu-gold: #ffbf00;
  --color-kpu-lightGold: #ffdc73;
}